/*General*/
body {
	margin: 0;
	padding: 0;
	position: absolute;
  color: #000000;
}

#portfolio .container-fluid {
	border-bottom: 2px solid #000;
}
#portfolio h3 {
	padding-top: 2%;
}
a:link, a:visited {
	color: black !important;
	text-align: center;
	text-decoration: none;
}

a:hover, a:active {
	color: #555555 !important;
}

.form-control:focus {
	border-color: #000000;
	box-shadow: 0 0 2px 1px #000000;
}

.noShadow:focus {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.borderBottomOnly {
	border: 0 !important;
	border-bottom: 2px solid #000000 !important;
	border-right: 2px solid #000000 !important;
}

.noShadow {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

nav a {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 600;
}

input, textarea {
	color: black !important;
	border-color: #3238a8 !important;
}

img {
	max-width: 100%;
	max-height: 100%;
}

h3, h4, h5 {
	font-family: 'Ubuntu', sans-serif;
}

input, p, textarea {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
  font-weight: 500;
}
p > a {
  font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	line-height: 200%;
}
#info p, #info h3, #info h4, #info h5 {
	display: inline;
}
/*Common*/
#about, #portfolio, #contact {
	/*margin: 50px 0 0 0;*/
	padding: 50px 10% 50px 10%;
	border-bottom: 2px solid #000000;
	/*height:100vh;*/
}

/*About*/
#about img {
	border: 3px solid #000000;
}

/*Portfolio*/
#portfolio img {
	border: 1px solid grey;
	width: 100%;
	/*height:266.42px;*/
}

#portfolio .row {
	margin-bottom: 5%;
	/*height:266.42px;*/
}

/*Contact*/
#contactSubmit {
	width: 60%;
	margin-left: 20%;
}

#contact div:nth-child(1) {
	text-align: center;
}

#contact img {
	width: 20px;
	height: 20px;
}

#contact a {
	display: inline-block;
	margin: 0 10px;
}

@media only screen and (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
		margin-top: 10%;
	}
	#about {
		text-align: center;
	}
  nav a {
    display: block;
  }
  .navbar-collapse {
    transition: height 0.4s ease-in;
	}
  .navbar-collapse.collapsing, .navbar-collapse.show {
    border-top: 2px solid #000;
	}
	.navbar-nav {
		height: 100vh;
	}
  
}

.navbar-nav a:link, .navbar-nav a:visited {
	padding: 20px 40px 20px 40px !important;
}

.navbar {
  background-color: white;
	margin: 0 !important;
	border-bottom-width: 2px !important;
	border-bottom-color: #000000 !important;	
}

.navbar-footer {
	background-color: white;
	margin: 0 !important;
	border: 0 !important; 
}

.navbar-brand {
  margin-top: 5px;
	width: 50vw;
	font-size: 150%;
}

.navbar {
	border-color: #000000;
}

.navbar-toggler {
	border-color: #000000;
}

.navbar-collapse {
	border-top-width: 2px;
	border-top-color: #000000 !important;
}

@media only screen and (max-width: 768px) {
 .navbar-toggler {
		border: none;
	}  
  
  .navbar {
		padding: 0 5% !important;
	}   
  
  .top-bar, .bottom-bar, .middle-bar {
    stroke-dashoffset: 0;
  }
  .diag-1-bar, .diag-2-bar {
    stroke-dashoffset: 450;
  }
  .bar {
    stroke-dasharray: 450;
  }
  .navbar-toggler * {
  stroke-dashoffset: 0;
  transition: all 4s linear;
}
.navbar-toggler:not(.collapsed) * {
  stroke-dashoffset: 450;
  transition: all 2s -1.75s linear;
}
  .navbar-toggler .middle-bar {
  stroke-dashoffset: 0;
  transition: all 4s linear;
}
.navbar-toggler:not(.collapsed) .middle-bar {
  stroke-dashoffset: 450;
  transition: all 1s -1.9s linear;
}

.navbar-toggler:not(.collapsed) .diag-1-bar {
  stroke-dashoffset: 0;
  transition: all 4s linear;
}
.navbar-toggler:not(.collapsed) .diag-2-bar {
  stroke-dashoffset: 0;
  transition: all 4s linear;
}
.navbar-toggler .diag-1-bar {
  stroke-dashoffset: 450;
  transition: all 4s -3.5s linear;
}
.navbar-toggler .diag-2-bar {
  stroke-dashoffset: 450;
  transition: all 4s -3.5s linear;
}
}
}
